<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LAW Final Project: Multiple File Downloader and Compressor by Izzan</title>
    </head>

    <body>
        <h1>Simple URL Downloader & Zipper</h1>
        <br>
        <h3>Enter 10 Valid Download URL!</h3>
        <form method="post" enctype="multipart/form-data">
            <input type="text" name="download_url_1"><br><br>
            <input type="text" name="download_url_2"><br><br>
            <input type="text" name="download_url_3"><br><br>
            <input type="text" name="download_url_4"><br><br>
            <input type="text" name="download_url_5"><br><br>
            <input type="text" name="download_url_6"><br><br>
            <input type="text" name="download_url_7"><br><br>
            <input type="text" name="download_url_8"><br><br>
            <input type="text" name="download_url_9"><br><br>
            <input type="text" name="download_url_10"><br><br>
            <input type="submit" value="Download!">
        </form>
    </body>
</html>